{% extends 'core/dash_base.html' %}

{% block content %}
  <h1 style="color: goldenrod;">Admin Dashboard</h1>
  <ul>
    <li><a href="{% url 'imdb:see_all_users' %}">See All Users</a></li>
    <li><a href="{% url 'imdb:see_all_genres' %}">See All Genres</a></li>
    <li><a href="{% url 'imdb:add_genre' %}">Add Genre</a></li>
    <li><a href="{% url 'imdb:see_all_movies' %}">See All Movies</a></li>
    <li><a href="{% url 'imdb:add_movie_not_authomatic' %}">Add Movie (Not Automatic)</a></li>
  </ul>
{% endblock %}