{% extends 'core/dash_base.html' %}

{% block content %}
  <h1 style="color: goldenrod;">All Users</h1>
  <a href="{% url 'imdb:admin_dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
  <form method="post">
    {% csrf_token %}
    <table>
      <thead>
        <tr>
          <th style="color: whitesmoke; padding: 20px;">ID</th>
          <th style="color: whitesmoke; padding: 20px;">Username</th>
          <th style="color: whitesmoke; padding: 20px;">Email</th>
          <th style="color: whitesmoke; padding: 20px;">First Name</th>
          <th style="color: whitesmoke; padding: 20px;">Last Name</th>
          <th style="color: whitesmoke; padding: 20px;">Select</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td style="color: whitesmoke;">{{ user.id }}</td>
            <td style="color: whitesmoke;">{{ user.username }}</td>
            <td style="color: whitesmoke;">{{ user.email }}</td>
            <td style="color: whitesmoke;">{{ user.first_name }}</td>
            <td style="color: whitesmoke;">{{ user.last_name }}</td>
            <td style="color: whitesmoke;"><input type="checkbox" name="user_ids" value="{{ user.id }}"></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5" style="color: whitesmoke;">No users found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="btn btn-danger">Delete Selected</button>
  </form>
  <a href="{% url 'imdb:admin_dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
{% endblock %}