{% extends 'core/dash_base.html' %}

{% block content %}
  <h1 style="color: goldenrod;">All Genres</h1>
  <table>
    <thead>
      <tr>
        <th style="color: whitesmoke; padding: 15px;">ID</th>
        <th style="color: whitesmoke; padding: 15px;">Name</th>
      </tr>
    </thead>
    <tbody>
      {% for genre in genres %}
        <tr>
          <td style="color: whitesmoke">{{ genre.id }}</td>
          <td style="color: whitesmoke">{{ genre.name }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2" style="color: whitesmoke">No genres found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}