{% extends 'core/dash_base.html' %}

{% block content %}
  <h1 style="color: goldenrod;">All Users</h1>
  <table>
    <thead>
      <tr>
        <th style="color: whitesmoke; padding: 20px;">ID</th>
        <th style="color: whitesmoke; padding: 20px;">Username</th>
        <th style="color: whitesmoke; padding: 20px;">Email</th>
        <th style="color: whitesmoke; padding: 20px;">First Name</th>
        <th style="color: whitesmoke; padding: 20px;">Last Name</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td style="color: whitesmoke;">{{ user.id }}</td>
          <td style="color: whitesmoke;">{{ user.username }}</td>
          <td style="color: whitesmoke;">{{ user.email }}</td>
          <td style="color: whitesmoke;">{{ user.first_name }}</td>
          <td style="color: whitesmoke;">{{ user.last_name }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" style="color: whitesmoke;">No users found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}