{% extends 'core/dash_base.html' %}

{% block content %}
  <h1 style="color: goldenrod;">All Movies</h1>
  <table>
    <thead>
      <tr>
        <th style="color: whitesmoke; padding: 15px;">ID</th>
        <th style="color: whitesmoke; padding: 15px;">tmdb_id</th>
        <th style="color: whitesmoke; padding: 15px;">Title</th>
        <th style="color: whitesmoke; padding: 15px;">Release Year</th>
        <th style="color: whitesmoke; padding: 15px;">Genres</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in movies %}
        <tr>
            <td style="color: whitesmoke;">{{ movie.id }}</td>
            <td style="color: whitesmoke;">{{ movie.tmdb_id }}</td>
          <td style="color: whitesmoke;">{{ movie.title }}</td>
          <td style="color: whitesmoke;">{{ movie.release_date }}</td>
          <td style="color: whitesmoke;">
            {% for genre in movie.genres.all %}
              {{ genre.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              No genres found.
            {% endfor %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" style="color: whitesmoke;">No movies found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}