{% extends 'core/dash_base.html' %}

{% block content %}
  <h1 style="color: goldenrod;">Update Movie</h1>
  <a href="{% url 'imdb:admin_dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="{% url 'imdb:see_all_movies' %}" class="btn btn-secondary">Cancel</a>
  </form>
  <a href="{% url 'imdb:admin_dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
{% endblock %}