<!-- all movies -->
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Movies</title>
    <!-- Movie Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body style="background-color: black;">

    <center>
        <h2>
            <font color="white">Top Rated Movies</font>
        </h2>
    </center>
    <br>

    <!-- MAIN CONTAINER -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    {% for mv1 in movies1 %}
                    <div class="col">
                        <a href="{% url 'imdb:detail&trailer' movie_id=mv1.pk %}"><img src="{{ mv1.poster_url }}"
                                class="img-thumbnail" alt="first slide" width="100%" style="padding: 10px"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% for mv2 in movies2 %}
                    <div class="col">
                        <a href="{% url 'imdb:detail&trailer' movie_id=mv2.pk %}"><img src="{{ mv2.poster_url }}"
                                class="img-thumbnail" alt="first slide" width="100%" style="padding: 10px"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% for mv3 in movies3 %}
                    <div class="col">
                        <a href="{% url 'imdb:detail&trailer' movie_id=mv3.pk %}"><img src="{{ mv3.poster_url }}"
                                class="img-thumbnail" alt="first slide" width="100%" style="padding: 10px"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% for mv4 in movies4 %}
                    <div class="col">
                        <a href="{% url 'imdb:detail&trailer' movie_id=mv4.pk %}"><img src="{{ mv4.poster_url }}"
                                class="img-thumbnail" alt="first slide" width="100%" style="padding: 10px"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% for mv5 in movies5 %}
                    <div class="col">
                        <a href="{% url 'imdb:detail&trailer' movie_id=mv5.pk %}"><img src="{{ mv5.poster_url }}"
                                class="img-thumbnail" alt="first slide" width="100%" style="padding: 10px"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% for mv6 in movies6 %}
                    <div class="col">
                        <a href="{% url 'imdb:detail&trailer' movie_id=mv6.pk %}"><img src="{{ mv6.poster_url }}"
                                class="img-thumbnail" alt="first slide" width="100%" style="padding: 10px"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>



    <!-- Include jQuery before Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Bootstrap JavaScript (once) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>