{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ user}}'s Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {% include 'core/css_link.html' %}
    <!-- Add inline CSS for body background color -->
</head>

<body class="base">
    {% include 'core/dash_navbar.html' %}
    <div class="container text-center">
        <h2 style="color:goldenrod"> Top Rated Movies</h2>
        {% include 'core/top_rated.html' %}
    </div>
    <br><br>



    <div class="container text-center">
        <h2 style="color: gold"> New Movies</h2>
        {% include 'core/new_movies.html' %}
    </div>




    {% include 'core/footer.html' %}
    {% include 'core/javascript_link.html' %}
</body>


</html>