{% extends 'core/dash_base.html' %}

{% block content %}

{% if movies %}
<h2 style="color: goldenrod;">Movie Search Results</h2>
<ul>
    {% for movie in movies %}

    <li>
        <a href="{% url 'imdb:detail&trailer' movie.id %}" style="text-decoration: none; color: white; display: flex; align-items: center;">
            <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster" width="200" style="margin-right: 10px;">
            <span style="font-weight: bold;">{{ movie.title }}</span>
        </a>
    </li>
            

    {% endfor %}
</ul>
{% else %}
<p style="color: whitesmoke">No movies found matching your search.</p>
{% endif %}

{% include 'core/footer.html' %}

{% endblock %}