{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <title>footer</title>
</head>

<body class="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <a href="#"
                            style="text-decoration: none; color: #fff;">
                            <img class="d-inline-block align-top"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjf_E8CVqOjyb8QTPMQzWEGszfznS4T8VRnA&usqp=CAU"
                                width="35" height="25" />
                            <h3>MoviePMB</h3>
                        </a>
                        <p>This is a Final Project <br>done by Python Developers of <br>Digital Career Institute GmbH. 
                        </p>
                        <h2>We Accept</h2>
                        <div class="card-area">
                            <i class="fa fa-cc-visa"></i>
                            <i class="fa fa-credit-card"></i>
                            <i class="fa fa-cc-mastercard"></i>
                            <i class="fa fa-cc-paypal"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>About</h2>
                        <ul>
                            <li><a href="#">Institute</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>Services</h2>
                        <ul>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Backend Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>News Letter</h2>
                        <p>We are seeking an opportunity as Junior Backend Developer, in the areas of Python |
                            Cloud | HTML & CSS ...
                        </p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter your Email..."
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2"><i
                                    class="fa fa-long-arrow-right"></i></span>
                        </div>
                        <h2>Follow Us On</h2>
                        <p class="socials">
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-github"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</body>

</html>