<!-- footer css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    footer {
        background: #101010;
        padding: 85px 0;
    }
    .single-box p{
        color:#fff;
        line-height: 1.9;

    }
    .single-box h3{
        font-size: 25px;
        font-weight: 700;
        color: #fff;
    }
    .single-box .card-area i{
        color:#fff;
        font-size: 20px;
        margin-right: 10px;
    }
    .single-box ul{
        list-style: none;
        padding: 0;
    }
    .single-box ul li a{
        text-decoration: none;
        color: #fff;
        line-height: 2.5;
        font-weight: 100;
    }
    .single-box h2{
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
    #basic-addon2{
        background: #fe1e4f;
        color: #fff;
    }

    .socials i {
        font-size: 18px;
        margin-right: 15px;
    }

    @media (max-width: 767px) {
        .single-box {
            margin-bottom: 50px;
        }
    }

    @media (min-width:768px) and (max-width: 991px) {
        .single-box {
            margin-bottom: 50px;
        }
    }
</style>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-box">
                    <a href="#" style="text-decoration: none; color: #fff;">
                        <img class="d-inline-block align-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjf_E8CVqOjyb8QTPMQzWEGszfznS4T8VRnA&usqp=CAU"
                            width="35" height="25" />
                        <h3>MoviePMB</h3>
                    </a>
                    <p>This is a Final Project <br>done by Python Developers of DCI<br>Data fetched from
                        <a href="https://developer.themoviedb.org/reference/intro/getting-started">themoviedb</a>
                    </p>
                    <h2>We Do not Accept</h2>
                    <div class="card-area">
                        <i class="fa fa-cc-visa"></i>
                        <i class="fa fa-credit-card"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <p>Free to Use</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-box">
                    <h2>Follow Us</h2>
                    <ul>
                        <li>
                            <p class="socials">
                                MARCIN >> 
                                <a href="https://www.linkedin.com/in/marcin-ignaszak-4311a1172/"><i
                                        class="fa fa-linkedin"></i></a>
                                <a href="https://github.com/MarcinIgna"><i class="fa fa-github"></i></a>
                            </p>
                        </li>
                        <li>
                            <p class="socials">
                                BLAISE >> 
                                <a href="https://www.linkedin.com/in/blaise-uwaforo-9b342b1a4/"><i
                                        class="fa fa-linkedin"></i></a>
                                <a href="https://github.com/jadonblaise"><i class="fa fa-github"></i></a>
                            </p>
                        </li>
                        <li>
                            <p class="socials">
                                PETRA >>
                                <a href="http://www.linkedin.com/in/petra-barti"><i
                                        class="fa fa-linkedin"></i></a>
                                <a href="https://github.com/petra-viola"><i class="fa fa-github"></i></a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-box">
                    <h2>Services</h2>
                    <ul>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Backend Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-box">
                    <h2>News Letter</h2>
                    <p>We are seeking an opportunity as Junior Backend Developer, in the areas of Python |
                        Cloud | HTML & CSS ...
                    </p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter your Email..."
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-long-arrow-right"></i></span>
                    </div>
                    <h2>About Institute</h2>
                    <ul>
                        <li><a href="https://digitalcareerinstitute.org/" style="font-weight: bold;">Digital Career
                                Inst.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>