{% load static %}

<!-- Movie picker -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                {% for mv4 in movies4 %}
                <div class="col-md-3">
                    <div class="card">
                        <a href="{% url 'imdb:movie_details' movie_id=mv4.pk %}"><img src="{{ mv4.poster_url }}"
                                class="card-img-top" alt="{{ mv4.title }}"></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ mv4.title }}</h5>
                            <p class="card-text">{{ mv4.overview|truncatechars:70 }}</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#movieDetailsModal" data-movie-title="{{ mv4.title }}"
                                data-movie-overview="{{ mv1.overview }}"
                                data-youtube-trailer="https://www.youtube.com/embed/YOUTUBE_VIDEO_ID">
                                View Details
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                {% for mv2 in movies2 %}
                <div class="col-md-3">
                    <div class="card">
                        <a href="{% url 'imdb:movie_details' movie_id=mv2.pk %}"><img src="{{ mv2.poster_url }}"
                                class="card-img-top" alt="{{ mv2.title }}"></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ mv2.title }}</h5>
                            <p class="card-text">{{ mv2.overview|truncatechars:70 }}</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#movieDetailsModal" data-movie-title="{{ mv2.title }}"
                                data-movie-overview="{{ mv2.overview }}"
                                data-youtube-trailer="https://www.youtube.com/embed/YOUTUBE_VIDEO_ID">
                                View Details
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                {% for mv3 in movies3 %}
                <div class="col-md-3">
                    <div class="card">
                        <a href="{% url 'imdb:movie_details' movie_id=mv3.pk %}"><img src="{{ mv3.poster_url }}"
                                class="card-img-top" alt="{{ mv3.title }}"></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ mv3.title }}</h5>
                            <p class="card-text">{{ mv3.overview|truncatechars:70 }}</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#movieDetailsModal" data-movie-title="{{ m3.title }}"
                                data-movie-overview="{{ mv3.overview }}"
                                data-youtube-trailer="https://www.youtube.com/embed/YOUTUBE_VIDEO_ID">
                                View Details
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<!-- movies modal -->
<div class="modal fade" id="movieDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Movie Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Movie details section -->
                <h5 class="modal-title" id="movieTitle"></h5>
                <p id="movieOverview"></p>

                <!-- YouTube trailer section -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" id="youtubeTrailer" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>