<!-- Top rated -->

    <!-- MAIN CONTAINER -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    {% for mv1 in movies1 %}
                    <div class="col">
                        <a href="{% url 'imdb:detail&trailer' movie_id=mv1.pk %}"><img src="{{ mv1.poster_url }}"
                                class="img-thumbnail" alt="first slide" width="100%" style="padding: 10px"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% for mv2 in movies2 %}
                    <div class="col">
                        <a href="{% url 'imdb:detail&trailer' movie_id=mv2.pk %}"><img src="{{ mv2.poster_url }}"
                                class="img-thumbnail" alt="first slide" width="100%" style="padding: 10px"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% for mv3 in movies3 %}
                    <div class="col">
                        <a href="{% url 'imdb:detail&trailer' movie_id=mv3.pk %}"><img src="{{ mv3.poster_url }}"
                                class="img-thumbnail" alt="first slide" width="100%" style="padding: 10px"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% for mv4 in movies4 %}
                    <div class="col">
                        <a href="{% url 'imdb:detail&trailer' movie_id=mv4.pk %}"><img src="{{ mv4.poster_url }}"
                                class="img-thumbnail" alt="first slide" width="100%" style="padding: 10px"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% for mv5 in movies5 %}
                    <div class="col">
                        <a href="{% url 'imdb:detail&trailer' movie_id=mv5.pk %}"><img src="{{ mv5.poster_url }}"
                                class="img-thumbnail" alt="first slide" width="100%" style="padding: 10px"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% for mv6 in movies6 %}
                    <div class="col">
                        <a href="{% url 'imdb:detail&trailer' movie_id=mv6.pk %}"><img src="{{ mv6.poster_url }}"
                                class="img-thumbnail" alt="first slide" width="100%" style="padding: 10px"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>