{% extends 'core/dash_base.html' %}

{% block title %}Dashboard | {% endblock %}

{% block content %}

    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <h1 style="color: white;">Recommended Movies:</h1>
        <ul>
            {% for movie in recommendations %}
                <li style="color: whitesmoke;"><a href="{% url 'imdb:detail&trailer' movie.id %}">
                    <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster" width="200">{{ movie.title }}
                </a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include 'core/footer.html' %}

{% endblock %}