.box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    margin-left: 100px;
}
.box :hover input{
    width:0;
}

.box input{
    outline: none;
    border: none;
    font-weight: 500;
    transition: o.8s;
    background: transparent;
}


