body {
    height:1000px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px; /* Adjust this value as needed */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

